
/*  COLORS */
$red: red;
$black: black;
$blue:blue;
$purple:purple;
$gray: gray;
$white:white;
$brown: brown;
$whitesmoke:whitesmoke;
$green:green;

$text-color: $black;
$menu-color: $black;
$body-color:$white;
$link-color:$brown;
$brand-color:$white;
$menu-background-color:$gray;
$table-color:gray;
$date-background-color:$red;
$insta_color:$purple;
$hover-color:$whitesmoke;
$negative:$red;
$positive:$green;

/* SCSS FOR FONT FAMILY */
$default_font_family: 'Arial', serif;
$normal: 400;
$heavy: 700;

/* GUTTER */
$gutter: 2%;


